name: Python Version Check

on:
  push:
    branches:
      - main

jobs:
  check-version:
    runs-on: ubuntu-latest

    steps:
      - name: Python Env't Setup
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Check Python Version
        run: python --version
